<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-12">
            <div class="action-container">
                <a class="btn btn-new" routerLink="/products" (click)="enableCreateMode()" role="button">Novo produto</a>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Subcategoria</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Criado em</th>
                            <th scope="col">Atualizado em</th>
                            <th scope="col">Atualizado por</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <th scope="row">{{product.name}}</th>
                            <td>{{product.category}}</td>
                            <td>{{product.subCategory}}</td>
                            <td>{{product.type}}</td>
                            <td>{{product.model}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.createdAt}}</td>
                            <td>{{product.updatedAt}}</td>
                            <td>{{product.updatedBy}}</td>
                            <td>
                                <a (click)="enableUpdateMode()" type="button" [routerLink]="['/products']" [queryParams]="{ id: product.id}" class="btn btn-link btn-sm">Editar</a>
                                <button (click)="deleteProduct(product.id)" type="button" class="btn btn-link btn-sm ml-3">
                                    Excluir
                                </button>
                                <button (click)="addToList(product)" type="button" class="btn btn-link btn-sm ml-3">
                                    Adicionar a lista
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>