<app-navigator></app-navigator>
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-12">
            <div class="action-container">
                <a class="btn btn-new" routerLink="/products" role="button">NEW ORDER</a>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-xd-12">
            <h3>New orders</h3>
            <app-table-orders [columnsName]="columnsName"></app-table-orders>
        </div>
        <div class="col-xd-12">
            <h3>Em andamento</h3>
            <app-table-orders [columnsName]="columnsName"></app-table-orders>
        </div>
        <div class="col-xd-12">
            <h3>Finalizados</h3>
            <app-table-orders [columnsName]="columnsName"></app-table-orders>
        </div>
    </div>
</div>