.action-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn-new {
    background-color: #74B9FF;
    color: #fff;
}

.btn-new:hover {
    background-color: #59acff;
    color: #fff;
}

header {
    background-color: #74B9FF;
}

.nav-link, .navbar-brand {
    color: #fff !important;
}

.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn-save {
    background-color: #74B9FF;
    color: #fff;
}

.btn-save:hover {
    background-color: #59acff;
}

li {
    list-style: none;
}