<app-navigator></app-navigator>
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-12">
            <div class="action-container">
                <a class="btn btn-new" routerLink="/products" role="button">Novo pedido</a>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <h4 class="mb-4">Meus Pedidos</h4>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Pedido</th>
                            <th scope="col">Data de criação</th>
                            <th scope="col">Última atualização</th>
                            <th scope="col">Criado por</th>
                            <th scope="col">Atualizado por</th>
                            <th scope="col">Total de itens</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders">
                            <th scope="row">{{order.id}}</th>
                            <td>{{order.createdAt}}</td>
                            <td>{{order.updatedAt}}</td>
                            <td>{{order.createdBy}}</td>
                            <td>{{order.updatedBy}}</td>
                            <td>{{order.itemsQuantity}}</td>
                            <td>
                                <a type="button" [routerLink]="['/orders']" [queryParams]="{ id: order.id}" class="btn btn-link btn-sm">Editar</a>
                                <button type="button" class="btn btn-link btn-sm ml-3" data-bs-toggle="modal" data-bs-target="#deleteItem">
                                    Excluir
                                </button>
                                <div class="modal fade" id="deleteItem" tabindex="-1" aria-labelledby="deleteItemLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="deleteItemLabel">Excluir pedido</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                Deseja excluir este pedido e todos os seus respectivos itens?
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-danger">Excluir</button>
                                </div>
                                </div>
                                </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>